<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <h3>welcome to Bookers !!</h3>
      <p>
        In <span> Bookers</span>
      </p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
      <div class="col-10">
        <p><%= link_to "Log in", new_user_session_path, class: "btn btn-primary col-12" %></p>
        <p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-success col-12" %></p>
      </div>
    </div>
  </div>
</div>