<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render 'public/users/info', user: current_user %>
      <%= render 'public/books/form', book: @book %>
    </div>
  </div>
</div>
