<div class="container">
  <div class="row">
      <%= render 'public/users/info', user: @user %>
      <%= render 'public/books/form', book: @book %>
    <div class="col-md-8">
      <%= render 'public/users/index', users: @users %>
    </div>
  </div>
</div>