<div class="container">
  <div class="row">
      <%= render 'info', user: @user %>
      <%= render 'public/books/form', book: @book %>
    <div class="col-8">
      <h3>Books</h3>
     <%= render 'public/books/index', books: @books %>
    </div>
  </div>
</div>
